*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;	
}

body {
}

#contenedorder {
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	overflow: hidden;
	background-color: #E5A0EA;
}

#logotoide {
	width: 90px;
	margin-left: 25px;
}

.menusad a {
	text-decoration: none;
	float: right;
    background: #fff;
    margin: 20px;
    color: rgb(0, 0, 0);
    width: 35px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}

.menusad a:hover{
	background-color: #BC4EC5;
}

#cuerpo h2{
 	text-align: center;
 	padding: 20px;
 	margin: auto;
 	background-color: #E5A0EA;
 	width: auto;
}

.trfts img {
	width: 50%;
	float: left;
	overflow: hidden;
	height: 300px;
}

@media only screen and (max-width:500px){
    .trfts img{
        height: 150px;
    }
}

#cont1te {
	overflow: hidden;
	border: 0px solid black;
	width: 50%;
	float: left;
}

#cont1te h2{
	text-align: center;
	background-color: #E5A0EA;
}

@media only screen and (max-width:500px){
	#cont1te h2{
		font-size: 15px;
	}
}

#cont2te {
	border: 0px solid black;
	width: 50%;
	top: -5px;
	float: left;
}

#cont2te h2{
	background-color: #E5A0EA;	
	text-align: center;
}

@media only screen and (max-width:500px){
	#cont2te h2{
		font-size: 15px;
	}
}

/* IMAGEN SIGUIENTE */

.container{
	margin-top: 3px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 100%;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

/* FIN IMAGEN SIGUIENTE */
